<!DOCTYPE HTML>
<html>
	<head>
    </head>
<body>
    <p><%= team.id %></p>
    <p><%= team.name %></p>
    <p><%= team.group %></p>
    <p><%= team.win %></p>
    <p><%= team.lose %></p>
    <p><%= team.draw %></p>
</body>
</html>