<!DOCTYPE HTML>
<html>
	<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/previousMatches/index.css">
    </head>
<body>
    <div class="container">
        <table>
            <tr class="round">
                <th class="text-center">Jogador</th>
                <th class="text-center">Time</th>
                <th class="text-center">Gols</th>
                <!-- <th>Amarelos</th> -->
                <!-- <th>Vermelhos</th> -->
            </tr>
            <% for (var i = 0; i < scores.length; i++) { %>
                <tr>
                    <td class="text-center"><%= scores[i].player.name %></td>
                    <td class="text-center"><%= scores[i].player.team %></td>
                    <td class="text-center"><%= scores[i].score %></td>
                    <!-- <td><%= scores[i].yellowCard %></td> -->
                    <!-- <td><%= scores[i].redCard %></td> -->
                    </tr>    
            <% } %>
        </table>
    </div>
</body>
</html>