<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Computsal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/animate.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/admin/nextMatches/update.css" />
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/"> Computsal</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" href="#login">
                            <% if (logged) { %> 
                                configurações 
                            <% } else { %>
                                Login
                            <% } %>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <section id="two">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="margin-top-0 text-primary">Próximos jogos</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>

        <div id="matches" class="container">
            <% for (var i = 0; i < matches.length; i++) { %>
                <div class="ranking">
                    <div class="jogador">
                        <div class="col-lg-5 col-md-5 col-xs-6">
                            <span id="team1<%=matches[i].id%>" class="click" onclick="updateTeam('team1<%=matches[i].id%>', 'team2<%=matches[i].id%>')"><%= matches[i].team1 %></span>
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-6 text-center">
                            <span id="time<%=matches[i].id%>"><%= matches[i].time.substring(0, matches[i].time.length - 3) %></span>
                        </div>
                        <div class="col-lg-5 col-md-5 col-xs-6 text-right">
                            <span id="team2<%=matches[i].id%>" class="click" onclick="updateTeam('team2<%=matches[i].id%>', 'team1<%=matches[i].id%>')"><%= matches[i].team2 %></span>
                        </div> 
                    </div>
                </div>
            <% } %>
        </div>
        
    </section>

    <a id="updateTeam" class="page-scroll" data-toggle="modal" href="#updateTeamModal" style="display:none;"></a>
    <div id="updateTeamModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <h3>Escolha o time que jogará contra :</h3>
                    <h4 id="opposingTeam"></h4>
                </div>
                <div class="text-center">
                    <div class="dropdown">
                        <h3 onclick="dropDown()" class="dropbtn" style="color: #43b699">Times</h3>
                        <div id="myDropdown" class="dropdown-content">
                            <% for (var i = 0; i < teams.length; i++) { %>
                                <h2 onclick="updateCurrTeam('<%=teams[i].name%>')" class="teamNameList click"><%=teams[i].name%></h2>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="contact-form row">
                    <h2 id="currTeam" class="col-lg-12 col-md-12 col-xs-12 text-center"></h2>
                </div>

                <div class="contact-form row" style="margin-top:15px;">
                    <h2 onclick="updateTable()" class="col-lg-12 col-md-12 col-xs-12 text-center click" >Atualizar</h2>
                </div>

            </div>
        </div>
        </div>
    </div>
    
    <% if(logged) { %>
        <div id="login" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <% if(captain) { %>
                        <a href="/atualizarTime"><h2 class="text-center">Atualizar meu time</h2></a>
                        <a href="/agendarHorario"><h2 class="text-center">Agendar horario</h2></a>
                    <% } else { %>
                        <a href="/criarTime"><h2 class="text-center">Criar meu time</h2></a>
                    <% } %>
                    <% if(admin) { %>
                        <a href="/admin"><h2 class="text-center">Configurar campenato</h2></a>
                    <% } %>
                </div>
            </div>
            </div>
        </div>
    <% } else { %>
        <div id="login" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h2 class="text-center">Entrar / Criar conta</h2>
                        <form class="contact-form row">
                            <div class="col-md-6">
                                <label></label>
                                <input type="text" class="form-control" placeholder="Email">
                            </div>
                            <div class="col-md-6">
                                <label></label>
                                <input type="password" class="form-control" placeholder="Senha">
                            </div>
                            <div class="col-md-12">
                                <label></label>
                                <button type="button" class="btn btn-primary btn-block btn-lg">Falta o face aqui </button>
                            </div>
                            <div class="col-md-6">
                                <label></label>
                                <button type="button" class="btn btn-primary btn-block btn-lg">Criar </button>
                            </div>
                            <div class="col-md-6">
                                <label></label>
                                <button type="button" class="btn btn-primary btn-block btn-lg">Entrar </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
    <!--scripts loaded here -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/home/wow.js"></script>
    <script src="/js/home/index.js"></script>
    <script src="/js/admin/nextMatches/update.js"></script>
  </body>
</html>  